/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0px;
}

* {
  box-sizing: border-box;
}

input, textarea, select, button {
  font-family: 'Roboto', sans-serif;
}